<div class="container container-fluid">
<!--  <form [formGroup]="initialForm">
    <div class="row mb-3">
      <div class="col-3">
        <label required>
          Client:
        </label>
      </div>
      <div class="col-6">
        <ng-select formControlName="clientName" #clientName
                   [items]="clientsList"
                   bindLabel="name"
                   placeholder="Select Client"></ng-select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <label required>
          Account Manager:
        </label>
      </div>
      <div class="col-6">
        <ng-select formControlName="accountManager"
                   [items]="accountManagersList"
                   bindLabel="name"
                   placeholder="Select Account Manager"></ng-select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <label required>
          Recruiter:
        </label>
      </div>
      <div class="col-6">
        <ng-select formControlName="recruiter"
                   [items]="recruitersList"
                   bindLabel="name"
                   placeholder="Select Recruiter"></ng-select>
      </div>
    </div>
  </form>-->
  <div>
    <form [formGroup]="candidateForm">
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Resource ID:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="resourceId" class="form-control" [(ngModel)]="onboardingInfo.resourceId" [attr.disabled]="record_id">
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Resource First Name:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="resourceFirstName" class="form-control" [(ngModel)]="onboardingInfo.resourceFirstName" [attr.disabled]="record_id">
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Resource Middle Name:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="resourceMiddleName" class="form-control" [(ngModel)]="onboardingInfo.resourceMiddleName" [attr.disabled]="record_id">
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Resource Last Nam:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="resourceLastName" class="form-control" [(ngModel)]="onboardingInfo.resourceLastName" [attr.disabled]="record_id">
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Location Address 1:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="location" class="form-control" [(ngModel)]="onboardingInfo.location">
          <small *ngIf="record_id && candidateForm.value.location !== (copyOfOnboardingInfo && copyOfOnboardingInfo.location)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.location}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Location Description(Should be DropDown):
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="locationaddress" class="form-control" [(ngModel)]="onboardingInfo.locationaddress">
          <small *ngIf="record_id && candidateForm.value.locationaddress !== (copyOfOnboardingInfo && copyOfOnboardingInfo.locationaddress)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.locationaddress}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Location City:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="city" class="form-control" [(ngModel)]="onboardingInfo.city">
          <small *ngIf="record_id && candidateForm.value.city !== (copyOfOnboardingInfo && copyOfOnboardingInfo.city)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.city}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Location State:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="state" class="form-control" [(ngModel)]="onboardingInfo.state">
          <small *ngIf="record_id && candidateForm.value.state !== (copyOfOnboardingInfo && copyOfOnboardingInfo.state)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.state}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Location Country:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="country" class="form-control" [(ngModel)]="onboardingInfo.country">
          <small *ngIf="record_id && candidateForm.value.country !== (copyOfOnboardingInfo && copyOfOnboardingInfo.country)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.country}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Leader Level 3:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="leaderLevel3" class="form-control"  [(ngModel)]="onboardingInfo.leaderLevel3">
          <small *ngIf="record_id && candidateForm.value.leaderLevel3 !== (copyOfOnboardingInfo && copyOfOnboardingInfo.leaderLevel3)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.leaderLevel3}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Leader Level 4:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="leaderLevel4" class="form-control"  [(ngModel)]="onboardingInfo.leaderLevel4">
          <small *ngIf="record_id && candidateForm.value.leaderLevel4 !== (copyOfOnboardingInfo && copyOfOnboardingInfo.leaderLevel4)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.leaderLevel4}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Leader Level 5:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="leaderLevel5" class="form-control" [(ngModel)]="onboardingInfo.leaderLevel5">
          <small *ngIf="record_id && candidateForm.value.leaderLevel5 !== (copyOfOnboardingInfo && copyOfOnboardingInfo.leaderLevel5)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.leaderLevel5}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Leader Level 6:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="leaderLevel6" class="form-control" [(ngModel)]="onboardingInfo.leaderLevel6">
          <small *ngIf="record_id && candidateForm.value.leaderLevel6 !== (copyOfOnboardingInfo && copyOfOnboardingInfo.leaderLevel6)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.leaderLevel6}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Normalized Vendor:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="normalizedVendor" class="form-control" [(ngModel)]="onboardingInfo.normalizedVendor">
          <small *ngIf="record_id && candidateForm.value.normalizedVendor !== (copyOfOnboardingInfo && copyOfOnboardingInfo.normalizedVendor)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.normalizedVendor}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Resource Classification(Should be a dropdown):
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="resourceClassification" class="form-control" [(ngModel)]="onboardingInfo.resourceClassification">
          <small *ngIf="record_id && candidateForm.value.resourceClassification !== (copyOfOnboardingInfo && copyOfOnboardingInfo.resourceClassification)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.resourceClassification}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Employee/Sub-Contractor (Dropdown):
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="employeeOrSubCon" class="form-control"  [(ngModel)]="onboardingInfo.employeeOrSubCon">
          <small *ngIf="record_id && candidateForm.value.employeeOrSubCon !== (copyOfOnboardingInfo && copyOfOnboardingInfo.employeeOrSubCon)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.employeeOrSubCon}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Sub-Contractor Company Name:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="subContractorCompany" class="form-control" [(ngModel)]="onboardingInfo.subContractorCompany">
          <small *ngIf="record_id && candidateForm.value.subContractorCompany !== (copyOfOnboardingInfo && copyOfOnboardingInfo.subContractorCompany)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.subContractorCompany}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Resource Status(Dropdown):
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="resourceStatus" class="form-control" [(ngModel)]="onboardingInfo.resourceStatus">
          <small *ngIf="record_id && candidateForm.value.resourceStatus !== (copyOfOnboardingInfo && copyOfOnboardingInfo.resourceStatus)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.resourceStatus}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Start Date:
          </label>
        </div>
        <div class="col-6">
          <input type="date" formControlName="startDate" class="form-control" [(ngModel)]="onboardingInfo.startDate">
          <small *ngIf="record_id && candidateForm.value.startDate !== (copyOfOnboardingInfo && copyOfOnboardingInfo.startDate)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.startDate}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Notification Date Resource Leaving:
          </label>
        </div>
        <div class="col-6">
          <input type="date" formControlName="notificationdateResourceLeaving" class="form-control" [(ngModel)]="onboardingInfo.notificationdateResourceLeaving">
          <small *ngIf="record_id && candidateForm.value.notificationdateResourceLeaving !== (copyOfOnboardingInfo && copyOfOnboardingInfo.notificationdateResourceLeaving)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.notificationdateResourceLeaving}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Departure Date:
          </label>
        </div>
        <div class="col-6">
          <input type="date" formControlName="departureDate" class="form-control" [(ngModel)]="onboardingInfo.departureDate">
          <small *ngIf="record_id && candidateForm.value.departureDate !== (copyOfOnboardingInfo && copyOfOnboardingInfo.departureDate)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.departureDate}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Defined as Key Personnel:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="definedAsKeyPersonnel" class="form-control" [(ngModel)]="onboardingInfo.definedAsKeyPersonnel">
          <small *ngIf="record_id && candidateForm.value.definedAsKeyPersonnel !== (copyOfOnboardingInfo && copyOfOnboardingInfo.definedAsKeyPersonnel)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.definedAsKeyPersonnel}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Defined as Critical Resource:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="definedAsCriticalresource" class="form-control" [(ngModel)]="onboardingInfo.definedAsCriticalresource">
          <small *ngIf="record_id && candidateForm.value.definedAsCriticalresource !== (copyOfOnboardingInfo && copyOfOnboardingInfo.definedAsCriticalresource)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.definedAsCriticalresource}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Non T&M (On-Shore or Off-Shore):
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="onShoreOffShore" class="form-control" [(ngModel)]="onboardingInfo.onShoreOffShore">
          <small *ngIf="record_id && candidateForm.value.onShoreOffShore !== (copyOfOnboardingInfo && copyOfOnboardingInfo.onShoreOffShore)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.onShoreOffShore}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Non T&M (On-Site or Off-Site):
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="onSiteOffSite" class="form-control" [(ngModel)]="onboardingInfo.onSiteOffSite">
          <small *ngIf="record_id && candidateForm.value.onSiteOffSite !== (copyOfOnboardingInfo && copyOfOnboardingInfo.onSiteOffSite)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.onSiteOffSite}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Project ID:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="projectId" class="form-control" [(ngModel)]="onboardingInfo.projectId">
          <small *ngIf="record_id && candidateForm.value.projectId !== (copyOfOnboardingInfo && copyOfOnboardingInfo.projectId)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.projectId}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Role Title/Job Description:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="role" class="form-control" [(ngModel)]="onboardingInfo.role">
          <small *ngIf="record_id && candidateForm.value.role !== (copyOfOnboardingInfo && copyOfOnboardingInfo.role)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.role}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Premium Technology/Skillset (if applicable)(Dropdown with Multiselect):
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="premiumTechnology" class="form-control" [(ngModel)]="onboardingInfo.premiumTechnology">
          <small *ngIf="record_id && candidateForm.value.premiumTechnology !== (copyOfOnboardingInfo && copyOfOnboardingInfo.premiumTechnology)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.premiumTechnology}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            PO/SOW Number:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="poNumber" class="form-control" [(ngModel)]="onboardingInfo.poNumber">
          <small *ngIf="record_id && candidateForm.value.poNumber !== (copyOfOnboardingInfo && copyOfOnboardingInfo.poNumber)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.poNumber}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            ADS ID:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="adsId" class="form-control" [(ngModel)]="onboardingInfo.adsId">
          <small *ngIf="record_id && candidateForm.value.adsId !== (copyOfOnboardingInfo && copyOfOnboardingInfo.adsId)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.adsId}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            AMEX Laptop / Desktop Asset Number :
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="laptopNo" class="form-control" [(ngModel)]="onboardingInfo.laptopNo">
          <small *ngIf="record_id && candidateForm.value.laptopNo !== (copyOfOnboardingInfo && copyOfOnboardingInfo.laptopNo)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.laptopNo}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Resource Visa Status :
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="visaStatus" class="form-control" [(ngModel)]="onboardingInfo.visaStatus">
          <small *ngIf="record_id && candidateForm.value.visaStatus !== (copyOfOnboardingInfo && copyOfOnboardingInfo.visaStatus)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.visaStatus}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Visa Expiration Date:
          </label>
        </div>
        <div class="col-6">
          <input type="date" formControlName="visaexpiration" class="form-control" [(ngModel)]="onboardingInfo.visaexpiration">
          <small *ngIf="record_id && candidateForm.value.visaexpiration !== (copyOfOnboardingInfo && copyOfOnboardingInfo.visaexpiration)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.visaexpiration}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Background Completion End Date:
          </label>
        </div>
        <div class="col-6">
          <input type="date" formControlName="bgvCompletionEndDate" class="form-control" [(ngModel)]="onboardingInfo.bgvCompletionEndDate">
          <small *ngIf="record_id && candidateForm.value.bgvCompletionEndDate !== (copyOfOnboardingInfo && copyOfOnboardingInfo.bgvCompletionEndDate)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.bgvCompletionEndDate}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Commodity:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="commodity" class="form-control" [(ngModel)]="onboardingInfo.commodity">
          <small *ngIf="record_id && candidateForm.value.commodity !== (copyOfOnboardingInfo && copyOfOnboardingInfo.commodity)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.commodity}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            New Resource Expected Rate:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="newResourceExpectedRate" class="form-control" [(ngModel)]="onboardingInfo.newResourceExpectedRate">
          <small *ngIf="record_id && candidateForm.value.newResourceExpectedRate !== (copyOfOnboardingInfo && copyOfOnboardingInfo.newResourceExpectedRate)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.newResourceExpectedRate}}
          </small>
        </div>
      </div>

      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            New Resource Assignment period (e.g.: 3 months) :
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="assignmentPeriod" class="form-control" [(ngModel)]="onboardingInfo.assignmentPeriod">
          <small *ngIf="record_id && candidateForm.value.assignmentPeriod !== (copyOfOnboardingInfo && copyOfOnboardingInfo.assignmentPeriod)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.assignmentPeriod}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            New Resource Rate Exception:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="resouceRateException" class="form-control" [(ngModel)]="onboardingInfo.resouceRateException">
          <small *ngIf="record_id && candidateForm.value.resouceRateException !== (copyOfOnboardingInfo && copyOfOnboardingInfo.resouceRateException)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.resouceRateException}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Commentary:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="commentary" class="form-control" [(ngModel)]="onboardingInfo.commentary">
          <small *ngIf="record_id && candidateForm.value.commentary !== (copyOfOnboardingInfo && copyOfOnboardingInfo.commentary)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.commentary}}
          </small>
        </div>
      </div>
      <div class="row mb-3 mt-4">
        <div class="col-3">
          <label required>
            Misc.:
          </label>
        </div>
        <div class="col-6">
          <input type="text" formControlName="misc" class="form-control" [(ngModel)]="onboardingInfo.misc">
          <small *ngIf="record_id && candidateForm.value.misc !== (copyOfOnboardingInfo && copyOfOnboardingInfo.misc)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.misc}}
          </small>
        </div>
      </div>
      <div class="float-right">
        <button class="btn btn-primary" (click)="onSubmit(initialForm.value, candidateForm.value)" [disabled]="candidateForm.invalid">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
