::ng-deep aw-wizard-navigation-bar.horizontal.small ul.steps-indicator li.done .step-indicator {
  background-color: aquamarine !important;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
