<!-- <div class="container container-fluid mt-5" *ngIf="next === false">
        <app-personal #personalComponent class="mb-5" [onboardingInfo]="onboardingInfo" (onPersonalFormNext)="getNextEvent($event)"
                      [copyOfOnboardingInfo]="copyOfOnboardingInfo"></app-personal>
    </div>
    <div class="container container-fluid mt-5" *ngIf="next === true">
      <fieldset>
        <legend> Onboarding</legend>
        <app-onboarding #intraedgeOnboardingComponent class="mb-5"
                                  [onboardingInfo]="onboardingInfo" (onOnboardingsFormNext)="getOnBackEvent($event)"
                        [copyOfOnboardingInfo]="copyOfOnboardingInfo"></app-onboarding>
      </fieldset>
    </div>-->
<div class="container container-fluid mt-5">
  <app-consultant [onboardingInfo]="onboardingInfo"  [copyOfOnboardingInfo]="copyOfOnboardingInfo"></app-consultant>
</div>
<footer>
  <div class="container wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner">
      <div class="wpb_wrapper">
        <div class="wpb_text_column wpb_content_element  copyright">
          <div class="wpb_wrapper">
            <p style="text-align: center;">© IntraEdge, Inc. All Rights Reserved.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
