<div class="container container-fluid" *ngIf="!loading">
  <div class="float-right row">
    <span> <button type="button" (click)="onDownload()" class="btn btn-primary">Download </button></span>
    <span class="ml-2"><csv2json
      [btnText]="'Upload CSV '"
      [errorMsg]="'Invalid format. Please upload only csv files..'"
      (response)='onUpload($event)'></csv2json></span>
  </div>
  <h4 class="mt-5 mb-5">List Of Employees/Resources</h4>
  <ngx-datatable
    #table
    class='material'
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="10"
    [rows]='resourceList'>
    <ngx-datatable-column name="Resource Id">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{row.resourceId}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Name">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{row.resourceFirstName}} , {{row.resourceLastName}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Normalized Vendor">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{row.normalizedVendor}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="PO Number">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{row.poNumber}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <button class="btn btn-primary" (click)="onDelete(row)">
          Delete
        </button>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <button class="btn btn-primary" (click)="onEdit(row)">
          Edit
        </button>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <button class="btn btn-primary" (click)="onAudit(row)">
          Audit
        </button>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <button class="btn btn-primary" (click)="onShow(row)">
          Show
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
<div class="spinner" *ngIf="loading">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>
