<div class="mt-5">
  <form [formGroup]="parentFormGroup">
    <div class="row mb-3">
      <div class="col-3">
        <label required>
          ADS Id:
        </label>
      </div>
      <div class="col-6">
        <input type="text" formControlName="ads" class="form-control" [(ngModel)]="onboardingInfo.client && onboardingInfo.client.ads">
        <small *ngIf="recordId && parentFormGroup.value.ads !== (copyOfOnboardingInfo && copyOfOnboardingInfo.client.ads)" class="text-info">
          Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.client.ads}}
        </small>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <label required>
          e-mail:
        </label>
      </div>
      <div class="col-6">
        <input type="email" formControlName="email" class="form-control"
               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="onboardingInfo.client && onboardingInfo.client.email">
        <small *ngIf="recordId && parentFormGroup.value.email !== (copyOfOnboardingInfo && copyOfOnboardingInfo.client.email)" class="text-info">
          Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.client.email}}
        </small>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <label required>
          Role:
        </label>
      </div>
      <div class="col-6">
        <input type="text" formControlName="role" class="form-control" [(ngModel)]="onboardingInfo.client && onboardingInfo.client.role">
        <small *ngIf="recordId && parentFormGroup.value.role !== (copyOfOnboardingInfo && copyOfOnboardingInfo.client.role)" class="text-info">
          Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.client.role}}
        </small>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <label required>
          SOW:
        </label>
      </div>
      <div class="col-6">
        <ng-select formControlName="sow"
                   [items]="sowTypes"
                   bindLabel="type"
                   placeholder="Select Visa Type"
                   [(ngModel)]="onboardingInfo.client && onboardingInfo.client.sow" #sow></ng-select>
        <small *ngIf="recordId && (parentFormGroup.value.sow && parentFormGroup.value.sow.type) !== (copyOfOnboardingInfo && (copyOfOnboardingInfo.client && copyOfOnboardingInfo.client.sow && copyOfOnboardingInfo.client.sow.type))" class="text-info">
          Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.client && copyOfOnboardingInfo.client.sow && copyOfOnboardingInfo.client.sow.type}}
        </small>
      </div>
    </div>
    <div *ngIf="onboardingInfo.client.sow && (onboardingInfo.client.sow.id == 1 || onboardingInfo.client.sow.id == 2)">
      <div class="row mb-3">
        <div class="col-3">
          <label required>
            SOW submitted on:
          </label>
        </div>
        <div class="col-6">
          <input type="date" formControlName="sowSubmittedOn" class="form-control" [(ngModel)]="onboardingInfo.client && onboardingInfo.client.sowSubmittedOn">
          <small *ngIf="recordId && parentFormGroup.value.sowSubmittedOn !== (copyOfOnboardingInfo && copyOfOnboardingInfo.client.sowSubmittedOn)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.client.sowSubmittedOn}}
          </small>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <label required>
            SOW submitted by:
          </label>
        </div>
        <div class="col-6">
          <ng-select formControlName="sowSubmittedBy"
                     [items]="sowSubmittersList"
                     bindLabel="name"
                     placeholder="Select Employment Type"
                     [(ngModel)]="onboardingInfo.client && onboardingInfo.client.sowSubmittedBy"></ng-select>
          <small *ngIf="recordId && parentFormGroup.value.sowSubmittedBy.name !== (copyOfOnboardingInfo && copyOfOnboardingInfo.client.sowSubmittedBy.name)" class="text-info">
            Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.client.sowSubmittedBy.name}}
          </small>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <label required>
          CAFE number:
        </label>
      </div>
      <div class="col-6">
        <input type="text" formControlName="cafeNumber" class="form-control" [(ngModel)]="onboardingInfo.client && onboardingInfo.client.cafeNumber">
        <small *ngIf="recordId && parentFormGroup.value.cafeNumber !== (copyOfOnboardingInfo && copyOfOnboardingInfo.client.cafeNumber)" class="text-info">
          Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.client.cafeNumber}}
        </small>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <label required>
          P.O number:
        </label>
      </div>
      <div class="col-6">
        <input type="text" formControlName="po" class="form-control" [(ngModel)]="onboardingInfo.client && onboardingInfo.client.po">
        <small *ngIf="recordId && parentFormGroup.value.po !== (copyOfOnboardingInfo && copyOfOnboardingInfo.client.po)" class="text-info">
          Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.client.po}}
        </small>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <label required>
          P.O line number:
        </label>
      </div>
      <div class="col-6">
        <input type="text" formControlName="poLineNumber" class="form-control" [(ngModel)]="onboardingInfo.client && onboardingInfo.client.poLineNumber">
        <small *ngIf="recordId && parentFormGroup.value.poLineNumber !== (copyOfOnboardingInfo && copyOfOnboardingInfo.client.poLineNumber)" class="text-info">
          Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.client.poLineNumber}}
        </small>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <label required>
          Laptop serial number:
        </label>
      </div>
      <div class="col-6">
        <input type="text" formControlName="laptopNo" class="form-control" [(ngModel)]="onboardingInfo.client && onboardingInfo.client.laptopNo">
        <small *ngIf="recordId && parentFormGroup.value.laptopNo !== (copyOfOnboardingInfo && copyOfOnboardingInfo.client.laptopNo)" class="text-info">
          Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.client.laptopNo}}
        </small>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <label required>
          Rate:
        </label>
      </div>
      <div class="col-6">
        <input type="number" formControlName="rate" class="form-control" [(ngModel)]="onboardingInfo.client && onboardingInfo.client.rate">
        <small *ngIf="recordId && parentFormGroup.value.rate !== (copyOfOnboardingInfo && copyOfOnboardingInfo.client.rate)" class="text-info">
          Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.client.rate}}
        </small>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <label required>
          Contract Start Date:
        </label>
      </div>
      <div class="col-6">
        <input type="date" formControlName="startDate" class="form-control" [(ngModel)]="onboardingInfo.client && onboardingInfo.client.startDate">
        <small *ngIf="recordId && parentFormGroup.value.startDate !== (copyOfOnboardingInfo && copyOfOnboardingInfo.client.startDate)" class="text-info">
          Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.client.startDate}}
        </small>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <label required>
          Contract End Date:
        </label>
      </div>
      <div class="col-6">
        <input type="date" formControlName="endDate" class="form-control" [(ngModel)]="onboardingInfo.client && onboardingInfo.client.endDate">
        <small *ngIf="recordId && parentFormGroup.value.endDate !== (copyOfOnboardingInfo && copyOfOnboardingInfo.client.endDate)" class="text-info">
          Old value was -{{copyOfOnboardingInfo && copyOfOnboardingInfo.client.endDate}}
        </small>
      </div>
    </div>
  </form>
</div>
